<body>
    <div id="layout">
        <div id="topRow">
            <div id="topicName">
                <div id="elem">
                    <h2>
                        Abteil: Verzögerungen
                    </h2>
                    <mat-icon id="timerIcon" class="topicIcon">av_timer</mat-icon>
                </div>
            </div>
            <div id="dropDowns">
                <div class="topRowElem" id="searchBox">
                    <div id="upperElem" >
                        <button mat-icon-button (click)="this.searchForStation(this.searchValue)">
                            <mat-icon>search</mat-icon>
                        </button>
                        <mat-form-field id="stationSearchBox">
                            <input matInput class="input" type="text" placeholder="Stationssuche" [(ngModel)]="this.searchValue">
                        </mat-form-field>
                    </div>
                    <div id="stationSearchResults" *ngIf="this.hasSearched == true" >
                        <div class="searchResult" (click)="this.compareStations(this.selectedStations)"><mat-icon>arrow_right_alt</mat-icon></div>
                        <div *ngFor="let station of this.selectedStations">
                            <div class="searchResult" *ngIf="this.isStationSelectedButNotInSearchStations(this.station.id) == true">
                                <div class="searchResultName">{{station.name}}</div>
                                <mat-icon *ngIf="this.isStationSelectedButNotInSearchStations(this.station.id) == true">check</mat-icon>
                            </div>
                        </div>
                        <div class="searchResult" *ngFor="let station of this.searchStations" (click)="this.selectStation(this.station)" >
                            <div class="searchResultName">{{station.name}}</div>
                            <mat-icon *ngIf="this.isStationSelected(this.station.id) == true">check</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="topRowElem" id="hiddenElem">
                </div>
                <div class="topRowElem" id="hiddenElem">
                </div>
            </div>
        </div>
        <div id="row1" class="row">
            <div id="information">
                <div class="info" id="info1" (mouseenter)="this.clickOnInfo(0)" (mouseleave)="this.resetInfo(0)">
                    <mat-icon class="graphIcon">map</mat-icon>
                    <div class="statistics">
                        <p class="value">{{amountChangedPaths}}</p>
                        <p class="desc">Geänderte Strecken</p>
                    </div>
                </div>
                <div class="info" id="info2" (mouseenter)="this.clickOnInfo(1)" (mouseleave)="this.resetInfo(1)">
                    <mat-icon class="graphIcon">av_timer</mat-icon>
                    <div class="statistics">
                        <p class="value">{{this.delaysAbove30min}}</p>
                        <p class="desc">Verspätungen > 30 min</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph" id="graph0">
                    <google-chart class="googleChart" *ngIf="this.viewTable == true" [title]="table.title" [type]="table.type" [columns]="table.columns" [data]="table.values" [options]="table.options"></google-chart>
                    <div *ngIf="this.viewTable == false">{{displayMessage}}</div>
                </div>
                <div class="graph" id="graph1">
                    <google-chart class="googleChart" *ngIf="this.viewSteppedAreaChart == true" [title]="steppedAreaChart.title" [type]="steppedAreaChart.type" [columns]="steppedAreaChart.columns" [data]="steppedAreaChart.values" [options]="steppedAreaChart.options"></google-chart>
                    <div *ngIf="this.viewSteppedAreaChart == false">{{displayMessage}}</div>
                </div>
            </div>

        </div>
        <div id="row2" class="row">
            <div id="information">
                <div class="info" id="info3" (mouseenter)="this.clickOnInfo(2)" (mouseleave)="this.resetInfo(2)">
                    <mat-icon class="graphIcon">announcement</mat-icon>
                    <div class="statistics">
                        <p class="value">{{this.announcementsPerDelay}}</p>
                        <p class="desc">Meldungen pro Veränderung</p>
                    </div>
                </div>
                <div class="info" id="info4" (mouseenter)="this.clickOnInfo(3)" (mouseleave)="this.resetInfo(3)">
                    
                    <mat-icon class="graphIcon">timer</mat-icon>
                    <div class="statistics">
                        <p class="desc">Verspätungszeit insgesamt:</p>
                        <p class="value">{{this.sumDelays}} min</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph" id="graph2">
                    <google-chart class="googleChart" *ngIf="this.viewBarChart == true" [title]="barChart.title" [type]="barChart.type" [columns]="barChart.columns" [data]="barChart.values" [options]="barChart.options"></google-chart>
                    <div *ngIf="this.viewBarChart == false">{{displayMessage}}</div>
                </div>
                <div class="graph" id="graph3">
                    <google-chart class="googleChart" *ngIf="this.viewColumnChart == true" [title]="columnChart.title" [type]="columnChart.type" [columns]="columnChart.columns" [data]="columnChart.values" [options]="columnChart.options"></google-chart>
                    <div *ngIf="this.viewColumnChart == false">{{displayMessage}}</div>
                </div>
            </div>

        </div>
    </div>
    
</body>