/*

//ColourPair1:
$colour1: #8dc6f47c;
$accentColour1: #79abd57c;

//ColourPair2:
$colour2: #8db8f497;
$accentColour2: #7a9dcf83;

//ColourPair3:
$colour3: #8d9bf458;
$accentColour3: #7884d367;

//ColourPair4:
$colour4: #a98df44b;
$accentColour4: #8771c34b;

*/

//$mainColour: #ffc60069;
body #layout .row {
    #information{
        #info1{
            background-color: #badcf7;
            .graphIcon{
                background: #a6c8e3; //Diff: -20
            }
        }
        #info2{
            background-color: #bcd7fe;
            .graphIcon{
                background: #a8c3ea;
            }
        }
        #info3{
            background-color: #c5ccf9;
            .graphIcon{
                background: #b1b8e5;
                background: #9da4d1;
            }
        }
        #info4{
            background-color: #dbcffb;
            .graphIcon{
                background: #c7bbe7;
            }
        }
    }
    #graphs{
        #graph0{
            google-chart{
                ::ng-deep .google-visualization-table-tr-head {
                    color: white;
                    background-color: #a6c8e3;
                }
                ::ng-deep .google-visualization-table .gradient {
                    background-image: none;
                }
                ::ng-deep .google-visualization-table-div-page {
                    background-image: none !important;
                    background-color: white !important;
                }
                ::ng-deep .goog-custom-button-outer-box{
                    border-color: #a6c8e3 !important;
                }
                ::ng-deep .goog-custom-button-inner-box{
                    color: white !important;
                    background-color: #badcf7;
                }
            }
        }
    }
}#topRow{
    //height: 50px;
    #topicName{
        background-color: #abcefe;
        border: 1px solid #a3c6f6;
        .topicIcon{ 
            background-color: #a3c6f6;
        }
    }
    #dropDowns{
        .topRowElem{   
        }

        #searchBox{
            display: flex;
            flex-direction: column;

            #upperElem{
                display: flex;
                align-items: center;
                #stationSearchBox{
                    width: calc(100% - 40px);
                    ::ng-deep .mat-form-field-wrapper{
                        padding: 0;
                        height: 50px;
                        width: 90%;
                        background-color: white;
                        .mat-form-field-flex { 
                            padding: 0 0px !important;
                            height: 100%;
                            background-color: white;
                        }
                        .mat-form-field-underline{
                            top: 100%;
                        }
                    } 
                }
            }
            
            #stationSearchResults{
                margin-top: 1rem;
                //padding: 1rem;
                position: relative;
                background-color: white;
                z-index: 2;
                border-radius: 5px;
                box-shadow: 0px 10px 60px -40px black;
                
                .searchResult{
                    padding: 1rem;
                    display: flex;
                }.searchResult:hover{
                    background-color: rgb(248, 248, 248);
                }
                .searchResult:active{
                    background-color: rgb(245, 243, 243);
                    font-weight: bold;
                }
            }
        }


        .dropDownMenu{
            //background-color: beige;
            ::ng-deep .mat-form-field-wrapper{
                padding: 0;
                height: 100%;
                width: calc(100% - 5px);
                background-color: white;
                .mat-form-field-flex { 
                    padding: 0 0px !important;
                    height: 100%;
                    background-color: white;
                }
                .mat-form-field-underline{
                    top: 100%;
                    left: -5px;
                    width: calc(100% + 5px);
                }
            } 
        }
    }
}