<div id="topics">
    <div class="topic" id="topic_stations" routerLink="stations">
        Abteil: Bahnhöfe
        <h1>{{this.amountLocalPublicTransport}}% aller Bahnhöfe und Stationen haben einen ÖPNV-Anschluss</h1>
    </div>
    <div class="topic" id="topic_routes" routerLink="routes">Abteil: Strecken</div>
    <div class="topic" id="topic_delays" routerLink="delays">Abteil: Verzögerungen</div>
    <div class="topic" id="topic_announcements" routerLink="announcements">Abteil: Aktuelle Meldungen</div>
</div>