#topics{
    //background-color: #fcfcfc;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: space-around;
    width: 100%;
    background-color: #f2f2f2;
    
    
    //Sidenav Testen:
    position: absolute;
    left: 0;
    height: calc(100% - 64px);

    //Sidenav nicht mehr testen
    
    .topic{
        width: 35vw;
        height: 35vh;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 0px 61px -49px black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        h1{
            font-size: 30px;
            text-align: center;
        }

        .upperElem{
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;

            .topicIcon{
                font-size: 50px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                line-height: 50px;
                vertical-align: middle;
                padding: 40px;
            }

            h2{
                font-size: 40px;
            }

        }
    }
    .topic:hover{
        width: 35.1vw;
        height: 35.1vh;
        position: static;
        transition-duration: 50ms;
        border: rgb(0, 0, 0) solid;
        box-shadow: 0px 0px 61px -30px black;
    }

    #topic_stations{
        background-color: #9ddecd;
        border: 1px solid #96d6c5;
        .upperElem{
            #storeIcon{
                background: #96d6c5;
            }
        }
    }
    #topic_routes{
        background-color: #fddf70;
        border: 1px solid #f5d768;
        .upperElem{
            #mapIcon{
                background: #f5d768;
            }
        }
    }
    #topic_delays{
        background-color: #abcefe;
        border: 1px solid #a3c6f6;
        .upperElem{
            #timerIcon{
                background: #a3c6f6;
            }
        }
    }
    #topic_announcements{
        background-color: #f68ea2;
        border: 1px solid #ee869a;
        .upperElem{
            #announcementIcon{
                background: #ee869a;
            }
        }
    }

}
