<div id="topics">
    <div class="topic" id="topic_stations" routerLink="stations">
        <div class="upperElem">
            <h2>
                Abteil: Bahnhöfe
            </h2>
            <mat-icon id="storeIcon" class="topicIcon">store</mat-icon>
        </div>
        <h1>
            Es gibt mehr als 4000 Bahnhöfe und Stationen in Deutschland
        </h1>
    </div>
    <div class="topic" id="topic_routes" routerLink="routes">
        <div class="upperElem">
            <h2>
                Abteil: Strecken
            </h2>
            <mat-icon id="mapIcon" class="topicIcon">map</mat-icon>
        </div>
        <h1>
            Schienennetz mit einer Streckenlänge von <u>38.400 km</u>
        </h1>
    </div>
    <div class="topic" id="topic_delays" routerLink="delays">
        <div class="upperElem">
            <h2>
                Abteil: Verzögerungen
            </h2>
            <mat-icon id="timerIcon" class="topicIcon">av_timer</mat-icon>
        </div>
        <h1>
            Hier könnte ihre Werbung stehen
        </h1>
    </div>
    <div class="topic" id="topic_announcements" routerLink="announcements">
        <div class="upperElem">
            <h2>
                Abteil: Meldungen
            </h2>
            <mat-icon id="announcementIcon" class="topicIcon">announcement</mat-icon>
        </div>
        <h1>
            <u>100%</u> aller Meldungen beeinflussen den Fahrplan
        </h1>
    </div>
</div>

<!--
<button mat-icon-button id="menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
</button>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a *ngFor="let item of this.routes" mat-list-item routerLink="{{item.path}}" (click)="sidenav.toggle()">{{item.title}}</a>
            <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>
-->