<body>
    <div id="layout">
        <div id="topRow">
            <div id="topicName">
                <div id="elem">
                    <h2>
                        Abteil: Meldungen
                    </h2>
                    <mat-icon id="storeIcon" class="topicIcon">store</mat-icon>
                </div>
            </div>
            <div id="dropDowns">
                <div class="topRowElem">
                    <!--
                    <mat-form-field appearance="fill" id="connectionForm">
                        <mat-label>Zugverbindung</mat-label>
                        <mat-select>
                          <mat-option>None</mat-option>
                              <mat-option *ngFor="let item of this.stations"  (click)="this.getWithDetailsId(item.detailsId)">{{item.origin}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    -->
                </div>
                <div class="topRowElem"></div>
                <div class="topRowElem"></div>
            </div>
        </div>
        <div id="row1" class="row">
            <div id="information">
                <div class="info" id="info1">
                    <mat-icon class="graphIcon">departure_board</mat-icon>
                    <div class="statistics">
                        <p class="value">{{percentAffectTimetable}}%</p>
                        <p class="desc">Fahrplan beeinflussend</p>
                    </div>
                </div>
                <div class="info" id="info2">
                    <mat-icon class="graphIcon">construction</mat-icon>
                    <div class="statistics">
                        <p class="value">{{percentConstruction}}%</p>
                        <p class="desc">durch Bauarbeiten verursacht</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph">
                    <google-chart class="googleChart" [title]="comboChart.title" [type]="comboChart.type" [columns]="comboChart.columns" [data]="comboChart.values" [options]="comboChart.options" ></google-chart>
                </div>
                <div class="graph">
                    <google-chart class="googleChart" [title]="tableChart.title" [type]="tableChart.type" [columns]="tableChart.columns" [data]="tableChart.values" [options]="tableChart.options" ></google-chart>
                </div>
            </div>

        </div>
        <div id="row2" class="row">
            <div id="information">
                <div class="info" id="info3">
                    <mat-icon class="graphIcon">report_problem</mat-icon>
                    <div class="statistics">
                        <p class="value">{{percentHighPriority}}%</p>
                        <p class="desc">sehr hohe Priorität</p>
                    </div>
                </div>
                <div class="info" id="info4">
                    <mat-icon class="graphIcon">announcement</mat-icon>
                    <div class="statistics">
                        <p class="value">{{amountOfAnnouncements}}</p>
                        <p class="desc">Meldungen insgesamt</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph">
                    <google-chart class="googleChart" [title]="pieChart.title" [type]="pieChart.type" [columns]="pieChart.columns" [data]="pieChart.values" [options]="pieChart.options" ></google-chart>
                </div>
                <div class="graph">
                    <google-chart class="googleChart"></google-chart>
                </div>
            </div>

        </div>
    </div>
    
</body>