<body>
    <div id="layout">
        <p>Aktuelle Meldungen</p>
        <div id="row1" class="row">
            <div id="information">
                <div class="info" id="info1">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc"></p>
                    </div>
                </div>
                <div class="info" id="info2">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc"></p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph">
                    <google-chart class="googleChart"></google-chart>
                </div>
                <div class="graph">
                    <google-chart class="googleChart"></google-chart>
                </div>
            </div>

        </div>
        <div id="row2" class="row">
            <div id="information">
                <div class="info" id="info3">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc"></p>
                    </div>
                </div>
                <div class="info" id="info4">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc"></p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph">
                    <google-chart class="googleChart"></google-chart>
                </div>
                <div class="graph">
                    <google-chart class="googleChart"></google-chart>
                </div>
            </div>

        </div>
    </div>
    
</body>