<body>
    <div id="layout">
        <div id="topRow">
            <div id="topicName">
                <div id="elem">
                    <h2>
                        Abteil: Meldungen
                    </h2>
                    <mat-icon id="storeIcon" class="topicIcon">store</mat-icon>
                </div>
            </div>
            <div id="dropDowns">
                <div class="topRowElem">Filter Meldungsart</div>
                <div class="topRowElem">Filter Priorität</div>
                <div class="topRowElem">Filter Stadt?</div>
            </div>
        </div>
        <div id="row1" class="row">
            <div id="information">
                <div class="info" id="info1" (mouseenter)="this.clickOnInfo(0)" (mouseleave)="this.resetInfo(0)">
                    <mat-icon class="graphIcon">departure_board</mat-icon>
                    <div class="statistics">
                        <p class="value">{{percentAffectTimetable}}%</p>
                        <p class="desc">Fahrplan beeinflussend</p>
                    </div>
                </div>
                <div class="info" id="info2" (mouseenter)="this.clickOnInfo(1)" (mouseleave)="this.resetInfo(1)">
                    <mat-icon class="graphIcon">construction</mat-icon>
                    <div class="statistics">
                        <p class="value">{{amountOfAnnouncements}}</p>
                        <p class="desc">aktuelle Meldungen</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph" id="graph0">
                    <google-chart class="googleChart" [title]="comboChart.title" [type]="comboChart.type" [columns]="comboChart.columns" [data]="comboChart.values" [options]="comboChart.options" ></google-chart>
                </div>
                <div class="graph" id="graph1">
                    <div class="table">
                    <google-chart class="googleChart" [title]="tableChart.title" [type]="tableChart.type" [columns]="tableChart.columns" [data]="tableChart.values" [options]="tableChart.options" ></google-chart>
                    </div>
                </div>
            </div>

        </div>
        <div id="row2" class="row">
            <div id="information">
                <div class="info" id="info3" (mouseenter)="this.clickOnInfo(2)" (mouseleave)="this.resetInfo(2)">
                    <mat-icon class="graphIcon">report_problem</mat-icon>
                    <div class="statistics">
                        <p class="value">{{percentHighPriority}}%</p>
                        <p class="desc">hohe Priorität</p>
                    </div>
                </div>
                <div class="info" id="info4" (mouseenter)="this.clickOnInfo(3)" (mouseleave)="this.resetInfo(3)">
                    <mat-icon class="graphIcon">announcement</mat-icon>
                    <div class="statistics">
                        <p class="value">{{percentConstruction}}%</p>
                        <p class="desc">Bauarbeiten</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph" id="graph2">
                    <google-chart class="googleChart" [title]="pieChart.title" [type]="pieChart.type" [columns]="pieChart.columns" [data]="pieChart.values" [options]="pieChart.options" ></google-chart>
                </div>
                <div class="graph" id="graph3">
                    <google-chart class="googleChart" [title]="barChart.title" [type]="barChart.type" [columns]="barChart.columns" [data]="barChart.values" [options]="barChart.options" ></google-chart>
                </div>
            </div>

        </div>
    </div>
    
</body>