<body>
    <!--Gitter deaktivieren?-->
    
    <!--<google-chart [title]="barChart.title" [type]="barChart.type" [columns]="barChart.columns" [data]="barChart.values"></google-chart>-->
    
    <!--Vielleicht in Reihen aufteilen, damit die Abstände und Ränder gleich sind-->
    
    <div id="layout">
        <div id="topRow">
            <div id="topicName">
                <div id="elem">
                    <h2>
                        Abteil: Bahnhöfe
                    </h2>
                    <mat-icon id="storeIcon" class="topicIcon">store</mat-icon>
                </div>
            </div>
            <div id="dropDowns">
                <div class="topRowElem">
                    <!--Dann DropDown und Auswahl einer Preisklasse-->
                    <mat-form-field appearance="fill" class="dropDownMenu">
                        <mat-label>{{this.priceCategoryTitle}}</mat-label>
                        <mat-select>
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let item of this.priceCategories" (click)="this.choosePriceCategory(item)">Preisklasse {{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="topRowElem">
                    <!--Ein Bundesland auswählen-->
                    <mat-form-field appearance="fill" class="dropDownMenu">
                        <mat-label>{{this.federalStateTitle}}</mat-label>
                        <mat-select>
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let item of this.federalStates" (click)="this.chooseFederalState(item)">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="topRowElem">
                    <!--Station auswählen-->
                    <mat-form-field appearance="fill" class="dropDownMenu" id="stationDropDown" (click)="this.clickOnStationsDropDown()">
                        <mat-label>{{this.stationTitle}}</mat-label>
                        <mat-select>
                          <mat-option>Management auswählen</mat-option>
                          <mat-option *ngFor="let item of this.chooseStations"  (click)="this.chooseStation(item.id)">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div id="row1" class="row">
            <div id="information">
                <div class="info" id="info1" (mouseenter)="this.clickOnInfo(0)" (mouseleave)="this.resetInfo(0)">
                    <mat-icon class="graphIcon"> attach_money</mat-icon>
                    <div class="statistics">
                        <p class="value">7</p>
                        <p class="desc">Verschiedene Preisklassen</p> <!--Idee: Infobutton, mit Pop-Up Infos zu Preisklasse-->
                    </div>
                    <a id ="infoIcon" href="https://de.wikipedia.org/wiki/Preisklasse#Ermittlung_der_Preisklasse" target="_blank">
                        <mat-icon>info</mat-icon>
                    </a>
                </div>
                <div class="info" id="info2" (mouseenter)="this.clickOnInfo(1)" (mouseleave)="this.resetInfo(1)">
                    <mat-icon class="graphIcon"> tram</mat-icon>
                    <div class="statistics">
                        <p class="value">{{(figFederalStates * 100).toString().substring(0,4)}}%</p>
                        <p class="desc">Bayern und NRW</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph" id="graph0">
                    <google-chart class="googleChart" [title]="comboChart.title" [type]="comboChart.type" [columns]="comboChart.columns" [data]="comboChart.values" [options]="comboChart.options" (select)="this.selectPriceCategoryFromGraph($event.selection[0].row)" ></google-chart>
                </div>
                <div class="graph" id="graph1">
                    <google-chart class="googleChart" [title]="steppedAreaChart.title" [type]="steppedAreaChart.type" [columns]="steppedAreaChart.columns" [data]="steppedAreaChart.values" [options]="steppedAreaChart.options" (select)="this.selectFederalStateFromGraph($event.selection[0])"></google-chart>
                </div>
            </div>
        </div>
        <div id="row2" class="row">
            <div id="information">
                <div class="info" id="info3" (mouseenter)="this.clickOnInfo(2)" (mouseleave)="this.resetInfo(2)">
                    <mat-icon class="graphIcon"> category</mat-icon>
                    <div class="statistics">
                        <p class="value">{{this.figStationManagement}}</p>
                        <p class="desc">Städte managen {{this.figAmountStations}} Stationen</p>
                    </div>
                </div>
                <div class="info" id="info4" (mouseenter)="this.clickOnInfo(3)" (mouseleave)="this.resetInfo(3)">
                    <mat-icon class="graphIcon"> local_parking</mat-icon>
                    <div class="statistics">
                        <p class="value">{{this.figAmountStations}}</p>
                        <p class="desc">Stationen</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph" id="graph2">
                    <google-chart class="googleChart" [title]="comboChart2.title" [type]="comboChart2.type" [columns]="comboChart2.columns" [data]="comboChart2.values" [options]="comboChart2.options" (select)="this.selectStationManagement($event.selection[0])"></google-chart>
                </div>
                <div class="graph" id="graph3">
                    <google-chart class="googleChart" [title]="barChart.title" [type]="barChart.type" [columns]="barChart.columns" [data]="barChart.values" [options]="barChart.options"></google-chart>
                </div>
            </div>
        </div>
    </div>        
</body>
    
    
    
    
    <!-- 
        Eine große Kennzahl in der Farbe
        Etwas dunklerer Hintergrund (leichtes grau)
        
    -->
    <!--
    <div id="charts">
        <div class="chart">
            <div class="info">
                <mat-icon class="graphIcon"> tram</mat-icon>
                <div class="statistics">
                    <p class="value">70,3%</p>
                    <p class="desc">ÖPNV-Anschluss</p>
                </div>
            </div>
            <div class="graph">
                <google-chart class="googleChart" [title]="comboChart.title" [type]="comboChart.type" [columns]="comboChart.columns" [data]="comboChart.values" [options]="comboChart.options"  ></google-chart>
            </div>
        </div>
        <div class="chart">
            <div class="info">
                <mat-icon class="graphIcon"> attach_money</mat-icon>
                <div class="statistics">
                    <p class="value">16,3%</p>
                    <p class="desc">Ja-Anschluss</p>
                </div>
            </div>
            <div class="graph">
                <google-chart class="googleChart" [title]="steppedAreaChart.title" [type]="steppedAreaChart.type" [columns]="steppedAreaChart.columns" [data]="steppedAreaChart.values" [options]="steppedAreaChart.options"></google-chart>
            </div>
        </div>
        <div class="chart">
           <div class="info">
               <mat-icon class="graphIcon"> category</mat-icon>
               <div class="statistics">
                   <p class="value">16,3%</p>
                   <p class="desc">Ja-Anschluss</p>
               </div>
           </div>
           <div class="graph">
               <google-chart class="googleChart" [title]="areaChart.title" [type]="areaChart.type" [columns]="areaChart.columns" [data]="areaChart.values" [options]="areaChart.options"></google-chart>
           </div>
       </div>
       <div class="chart">
          <div class="info">
              <mat-icon class="graphIcon"> local_parking</mat-icon>
              <div class="statistics">
                  <p class="value">16,3%</p>
                  <p class="desc">Ja-Anschluss</p>
              </div>
          </div>
          <div class="graph">
              <google-chart class="googleChart" [title]="bubbleChart.title" [type]="bubbleChart.type" [columns]="bubbleChart.columns" [data]="bubbleChart.values" [options]="bubbleChart.options"></google-chart>
          </div>
      </div>
    </div>

-->