<p>stations works!</p>
<p>{{this.stations.length}}</p>

<!--<google-chart [title]="barChart.title" [type]="barChart.type" [columns]="barChart.columns" [data]="barChart.values"></google-chart>-->

<google-chart [title]="comboChart.title" [type]="comboChart.type" [columns]="comboChart.columns" [data]="comboChart.values" [options]="comboChart.options" style="width: 900px; height: 500px;"></google-chart>

<google-chart [title]="steppedAreaChart.title" [type]="steppedAreaChart.type" [columns]="steppedAreaChart.columns" [data]="steppedAreaChart.values" [options]="steppedAreaChart.options" style="width: 900px; height: 500px;"></google-chart>

<google-chart [title]="areaChart.title" [type]="areaChart.type" [columns]="areaChart.columns" [data]="areaChart.values" [options]="areaChart.options" style="width: 900px; height: 500px;"></google-chart>

<google-chart [title]="bubbleChart.title" [type]="bubbleChart.type" [columns]="bubbleChart.columns" [data]="bubbleChart.values" [options]="bubbleChart.options" style="width: 900px; height: 500px;"></google-chart>