/*
//ColourPair1:
$colour1: #ffa20040;
$accentColour1: #e692004e;

//ColourPair2:
$colour2: #ffc80054;
$accentColour2: #cda30d54;

//ColourPair3:
$colour3: #ffee0044;
$accentColour3: #dfd0003b;

//ColourPair4:
$colour4: #c3ff0037;
$accentColour4: #ace0002e;

//$mainColour: #fddf70;

background-color: #fddf70;

*/

body #layout .row {
    #graphs{
        #stationList{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
#information {
    #info1{
        background-color: rgb(253, 223, 112);
        .graphIcon{
            background: rgb(245, 215, 104);
        }
    }
    #info2{
        background-color: rgb(243, 233, 102);
        .graphIcon{
            background: rgb(235, 225, 94);
        }
    }
    #info3{
        background-color: rgb(233, 243, 92);
        .graphIcon{
            background: rgb(225, 235, 84);
        }
    }
    #info4{
        background-color: rgb(223, 253, 82);
        .graphIcon{
            background: rgb(215, 245, 74);
        }
    }
}

} #topRow{
    //height: 50px;
    #topicName{
        background-color: #fddf70;
        border: 1px solid #f5d768;
        .topicIcon{ 
            background-color: #f5d768;
        }
    }
    #dropDowns{
        .topRowElem{
            
        }
        .dropDownMenu{
            //background-color: beige;
            ::ng-deep .mat-form-field-wrapper{
                padding: 0;
                height: 100%;
                width: calc(100% - 5px);
                background-color: white;
                .mat-form-field-flex { 
                    padding: 0 0px !important;
                    height: 100%;
                    background-color: white;
                }
                .mat-form-field-underline{
                    top: 100%;
                    left: -5px;
                    width: calc(100% + 5px);
                }
            } 
        }
    }
}