<body>
    <div id="layout">
        <div id="topRow">
            <div id="topicName">
                <div id="elem">
                    <h2>
                        Abteil: Strecken
                    </h2>
                    <mat-icon id="storeIcon" class="topicIcon">store</mat-icon>
                </div>
            </div>
            <div id="dropDowns">
                <div class="topRowElem" id="datePickerElem">
                    <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                    <mat-form-field id="date">
                        <input matInput class="input" type="text" placeholder="Datumsauswahl" [matDatepicker]="basicDatepicker" [(ngModel)]="this.dateValue">
                    </mat-form-field>
                    <mat-datepicker #basicDatepicker></mat-datepicker>
                </div>
                <div class="topRowElem" id="searchBox">
                    <div id="upperElem" >
                        <button mat-icon-button (click)="this.searchForStation(this.searchValue)">
                            <mat-icon>search</mat-icon>
                        </button>
                        <mat-form-field id="stationSearchBox">
                            <input matInput class="input" type="text" placeholder="Stationssuche" [(ngModel)]="this.searchValue">
                        </mat-form-field>
                    </div>
                    <div id="stationSearchResults" *ngIf="this.hasSearched == true" >
                        <div class="searchResult" *ngFor="let station of this.searchStations" (click)="this.interactWithSearchStation(station.id, this.dateValue)">{{station.name}}</div>
                    </div>
                </div>
                <div class="topRowElem" id="dropDownTopRowElem">
                    <mat-icon>train</mat-icon>
                    <mat-form-field appearance="fill" class="dropDownMenu">
                        <mat-label>{{this.detailsIdLabel}}</mat-label>
                        <mat-select placeholder="Zugverbindung">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of this.stations"  (click)="this.getWithDetailsId(item.detailsId, item.origin)">{{item.origin}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div id="row1" class="row">
            <div id="information">
                <div class="info" id="info1" (mouseenter)="this.clickOnInfo(0)" (mouseleave)="this.resetInfo(0)">
                    <mat-icon class="graphIcon">alarm</mat-icon>
                    <div class="statistics">
                        <p class="value">35min</p>
                        <p class="desc">Durchschnittliche Fahrzeit</p>
                    </div>
                </div>
                <div class="info" id="info2" (mouseenter)="this.clickOnInfo(1)" (mouseleave)="this.resetInfo(1)">
                    <mat-icon class="graphIcon">train</mat-icon>
                    <div class="statistics">
                        <p class="value">7</p>
                        <p class="desc">Verschiedene Strecken</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph" id="graph0">
                    <google-chart *ngIf="this.viewTimelineChart == true" class="googleChart" id="timelineChart" [title]="timelineChart.title" [type]="timelineChart.type" [columns]="timelineChart.columns" [data]="timelineChart.values" [options]="timelineChart.options"></google-chart>
                    <div *ngIf="this.viewTimelineChart == false">Station suchen und Strecke auswählen</div>
                </div>
                <div class="graph" id="graph1">
                    <google-chart *ngIf="this.viewDepartureTable == true" class="googleChart" id="departureTable" [title]="departureTable.title" [type]="departureTable.type" [columns]="departureTable.columns" [data]="departureTable.values" [options]="departureTable.options"></google-chart>
                    <div *ngIf="this.viewDepartureTable == false">Station suchen</div>
                </div>
            </div>

        </div>
        <div id="row2" class="row">
            <div id="information">
                <div class="info" id="info3" (mouseenter)="this.clickOnInfo(2)" (mouseleave)="this.resetInfo(2)">
                    <mat-icon class="graphIcon">place</mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc">Durchschnittliche Länge bei Deutscher Bahn</p>
                    </div>
                </div>
                <div class="info" id="info4" (mouseenter)="this.clickOnInfo(3)" (mouseleave)="this.resetInfo(3)">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc">KENNZAHL</p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph" id="graph2">
                    <google-chart *ngIf="this.viewLineChart == true" class="googleChart" [title]="lineChart.title" [type]="lineChart.type" [columns]="lineChart.columns" [data]="lineChart.values" [options]="lineChart.options"></google-chart>                     
                    <div *ngIf="this.viewLineChart == false">Station suchen und Strecke auswählen</div>
                </div>
                <div class="graph" id="graph3">
                    <google-chart *ngIf="this.viewScatterChart == true" class="googleChart" [title]="scatterChart.title" [type]="scatterChart.type" [columns]="scatterChart.columns" [data]="scatterChart.values" [options]="scatterChart.options"></google-chart>
                    <div *ngIf="this.viewScatterChart == false">Station suchen und Strecke auswählen</div>
                </div>
            </div>

        </div>
    </div>
    
</body>