<body>
    <div id="layout">
        <div id="topRow">
            <div id="topicName">
                <div id="elem">
                    <h2>
                        Abteil: Strecken
                    </h2>
                    <mat-icon id="storeIcon" class="topicIcon">store</mat-icon>
                </div>
            </div>
            <div id="dropDowns">
                <div class="topRowElem" id="datePickerElem">
                    <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                    <mat-form-field id="date">
                        <input matInput class="input" type="text" placeholder="Datumsauswahl" [matDatepicker]="basicDatepicker" [(ngModel)]="this.dateValue">
                    </mat-form-field>
                    <mat-datepicker #basicDatepicker></mat-datepicker>
                </div>
                <div class="topRowElem" id="searchBox">
                    <div id="upperElem" >
                        <button mat-icon-button (click)="this.searchForStation(this.searchValue)">
                            <mat-icon>search</mat-icon>
                        </button>
                        <mat-form-field id="stationSearchBox">
                            <input matInput class="input" type="text" placeholder="Stationssuche" [(ngModel)]="this.searchValue">
                        </mat-form-field>
                    </div>
                    <div id="stationSearchResults" *ngIf="this.hasSearched == true" >
                        <div class="searchResult" *ngFor="let station of this.searchStations" (click)="this.interactWithSearchStation(station.id, this.dateValue)">{{station.name}}</div>
                    </div>
                </div>
                <div class="topRowElem">
                    <mat-form-field appearance="fill" class="dropDownMenu">
                        <mat-label>Streckenauswahl</mat-label>
                        <mat-icon>train</mat-icon>
                        <mat-select placeholder="{{this.detailsIdLabel}}">
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let item of this.stations"  (click)="this.getWithDetailsId(item.detailsId, item.origin)">{{item.origin}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div id="row1" class="row">
            <div id="information">
                <div class="info" id="info1">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc"></p>
                    </div>
                </div>
                <div class="info" id="info2">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc"></p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph">
                    <google-chart class="googleChart" [title]="timelineChart.title" [type]="timelineChart.type" [columns]="timelineChart.columns" [data]="timelineChart.values" [options]="timelineChart.options"></google-chart>
                </div>
                <div class="graph">
                    <!--<google-chart class="googleChart" [title]="departureTable.title" [type]="departureTable.type" [columns]="departureTable.columns" [data]="departureTable.values" [options]="departureTable.options"></google-chart>-->
                    <table>
                        <tr>
                            <th *ngFor="let row of this.tableRowValues">{{row}}</th>
                        <tr *ngFor="let row of this.departureTableValues">
                            <td *ngFor="let item of this.row">{{item}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div id="row2" class="row">
            <div id="information">
                <div class="info" id="info3">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc"></p>
                    </div>
                </div>
                <div class="info" id="info4">
                    <mat-icon class="graphIcon"></mat-icon>
                    <div class="statistics">
                        <p class="value"></p>
                        <p class="desc"></p>
                    </div>
                </div>
            </div>
            <div id="graphs">
                <div class="graph">
                    <google-chart class="googleChart" [title]="lineChart.title" [type]="lineChart.type" [columns]="lineChart.columns" [data]="lineChart.values" [options]="lineChart.options"></google-chart>                     
                </div>
                <div class="graph">
                    <google-chart class="googleChart" [title]="nextStationsWordTree.title" [type]="nextStationsWordTree.type" [columns]="nextStationsWordTree.columns" [data]="nextStationsWordTree.values" [options]="nextStationsWordTree.options"></google-chart>
                </div>
            </div>

        </div>
    </div>
    
</body>